body {
    max-width: 1600px;
    background-color: #2F3738;
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3 {
    color: #59D8E5;
}

li, a, p {
    color: #D5FBFF;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 3.5em;
}

h2, h3, a, p, li {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2em;
}

h3, li, a, p {
    font-size: 1em;
}

p {
    text-align: left;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav, .radio {
    min-width: 100px;
    text-align: center;
}

nav a {
    margin: 20px;
}

.radio li {
    display: inline-block;
}

#overview {
    background-color: #647678;
    height: 100%;
    overflow: auto;
    border-radius: 5px 35px 15px 5px;
    margin-bottom: 10px;
    padding: 5px;
}

#overview div {
    display: inline-table;
    width: 14%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#overview div.welcome {
    display: inline-table;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}